body {
    padding: 0;
    margin: 0;
    /* background-color: aqua; */
}

#container > * {
    position: absolute;
    top: 0;
    /* bottom: 0; */
    left: 0;
    height: 100%;
    will-change: "transform";
    -webkit-transition: opacity 1s ease-out;
}

#weather {
    /* background-color: azure; */
    font-size: 0;
    width: 100%;
}

#weather > div {
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    /* border: 1px black solid; */
    /* background-color: lightblue; */
    /* text-align: center; */
    vertical-align: middle;
}

#weatherLeft {
    width: 45%;
}

#weatherLeft > div {
    margin: 295px 40px 0;
    width: 520px;
    height: 550px;
    float: right;
}

#weatherLeft > div > iframe {
    top: -190px;
    left: -295px;
}

#weatherRight {
    width: 55%;
}

#weatherRight > div {
    margin: 160px 40px 0;
    width: 830px;
    height: 755px;
}

#weatherRight > div > iframe {
    top: -170px;
    left: -295px;
}

/* #weatherRight > div > div {
    background-color: aquamarine;
    right: 0;
    position: absolute;
    width: 200px;
    height: 100px;
} */

#weather > div > div {
    /* background-color: lightgray; */
    /* box-sizing: border-box; */
    /* position: absolute; */
    /* border: 1px greenyellow solid; */
    display: block;
    /* width: 500px;
    height: 500px; */
    overflow: hidden;
    /* left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%); */
}

iframe {
    /* background-color: bisque; */
    display: block;
    position: relative;
    width: 1920px;
    height: 1080px;
    /* overflow: hidden; */
}
